@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  border: none;
  text-decoration: none;
}

.container{
  width: 100vw;
  flex-direction: column;
}

.date-container{
  background: rgb(252, 210, 25);
  min-width: 300px;
  
  margin-top: 10px;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date-dmy{
  display: flex;
}

.date-day{
  margin: 5px 2.5px 5px 5px;
  font-size: 42px;
  font-weight: 900;
  color: black;
}

.date-month-year{
  margin: 5px 5px 5px 2.5px;
  color: #fff;
}

.date-month{
  font-size: 20px;
}

.date-day-name{
  color: #fff;
}

/* Container */
.todos-container{
  min-width: 300px;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 280px;
  margin: 5px 0;
}

.space-between{
  display: flex;
  justify-content: start;
  align-items: center;
}

.todo-type{
  width: 5px;
  height: 50px;
  background-color: greenyellow;
}

.todo-info{
  margin: 5px 15px 5px 5px;
}

.todo-title{
  color: rgb(252, 210, 25);
}

.todo-description{
  color: grey;
}

.todo-checkbox{
  margin: 5px;
}

/*
.todo-completed{
  
}
*/

.add-btn{
  display: inline-block;
  text-align: center;
  padding: 10px 50px;

  background-color: rgb(252, 210, 25);
  color: white;
  font-size: 16px;

  border-radius: 5px;

  transition: 0.5s ease;
}

.add-btn:hover{
  background-color: rgb(230, 203, 84);
}

/* d: flex - jc: center - ai: center */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}